* {
	font-size: 20px;
}
body {
	background-color: #000;
	padding-top: 100px;
}

.card {
	background: royalblue; 
	width: 400px;
}
input {
	height: 50px;
	font-weight: bold;
}
.btn-group {
    display: block;
    margin-bottom: 5px;
}
.btn-group .btn {
    display: inline-block;
    width: 24% !important;
}
.btn-group1 {
    display: block;
    margin-bottom: 5px;
}
.btn-group1 .btn {
    display: inline-block;
    width: 49% !important;
}

